
.image-container {

  display: flex;
  justify-content: center; 
  flex-wrap: nowrap; 
 
  width:100%;
  max-width:100vw;
  margin-top: 50px; 
  margin-bottom: 50px;
  padding: 0 20px; 
  
}


.image-card {
 
  flex: 0 0 200px; 
  width: 200px; 
  height: 280px; 
  margin: 0 10px; 
  border-radius: 100px 10px 100px 40px; 
  overflow: hidden; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease; 
}


.image-card:hover .gallery-image {
  transform: scale(1.05); 
}