.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh; /* Deja espacio para el header */
  margin-top: 10px; /* Empuja ligeramente hacia abajo */
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif; 
}

.title {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
}

.login-form {
  background: white;
  padding: 8rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  width: 100%;
  background-color: #ff8800;
  color: white;
  border: none; 
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #be6500;
}
