# /docker/docker-compose.yml


services:
  # Define el servicio de la base de datos para el inventario
  inventory-db:
    image: postgres:13              # Usa la imagen oficial de PostgreSQL versión 13
    container_name: happy_donuts_inventory_db # Nombre fácil de identificar para el contenedor
    restart: always                 # Reinicia el contenedor automáticamente si se cae
    environment:                    # Variables de entorno para configurar la base de datos
      POSTGRES_DB: inventory_db
      POSTGRES_USER: user_inventory
      POSTGRES_PASSWORD: 119001
    ports:
      # Mapea el puerto 5433 de tu máquina al 5432 del contenedor.
      # Así evitas conflictos si ya tienes Postgres corriendo en el puerto 5432.
      - "5433:5432"
    volumes:
      # 'Monta' un volumen para que los datos de la base de datos persistan
      # incluso si eliminas el contenedor.
      - inventory_postgres_data:/var/lib/postgresql/data

volumes:
  # Declara el volumen que usaremos para persistir los datos
  inventory_postgres_data: