.page-wrapper {
    position: relative; 
    min-height: 100vh;
    width: 100vw;
    
    overflow-x: hidden;
}


.page-wrapper::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
    
    background-image: url('../assets/b7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px); 
    
  
    background-color: rgba(255, 255, 255, 0.705); 
    background-blend-mode: overlay; 
}



.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #FAF7F2; 
    
    min-height: 100vh;
    position: relative; 
    z-index: 2; 
}