@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales opcionales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}